* {
  font-family: "UbuntuMono Nerd Font";
  font-size: 16px;
  min-height: 0;
  transition: all 0.2s ease;
}

window#waybar {
  background: #383c4a;
  color: #ffffff;
  padding: 2px 6px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin: 0 6px;
  padding: 2px 10px;
  background-color: #383c4a;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}

button {
  border: none;
  padding: 0;
  box-shadow: none;
}

#workspaces button {
  margin: 2px 3px;
  padding: 1px 8px;
  min-width: 24px;
  border-radius: 6px;
  background: #383c4a;
}

#workspaces button.focused {
  background-color: #4e5263;
  color: #ffffff;
}

#workspaces button.active {
  background-color: #4e5263;
  color: #ffffff;
}

#workspaces button:hover {
  background: #4e5263;
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  color: #ffffff;
  animation: urgent-blink 1s ease-in-out infinite;
}

@keyframes urgent-blink {
0% { opacity: 1; }
50% { opacity: 0.7; }
100% { opacity: 1; }
}

#custom-os_button {
  font-size: 24px;
  padding-left: 12px;
  padding-right: 20px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  margin: 2px 3px;
  padding: 1px 10px;
  background-color: #383c4a;
  color: #ffffff;
  border-radius: 6px;
}

#clock {
  font-size: 14px;
  font-weight: bold;
  background-color: #4e5263;
  margin-left: 6px;
}

#battery.charging,
#battery.plugged {
  background-color: #4e5263;
  color: #ffffff;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  background-color: #eb4d4b;
  color: #ffffff;
  animation: battery-blink 1s linear infinite alternate;
}

@keyframes battery-blink {
to {
  background-color: #ffffff;
  color: #eb4d4b;
}
}

#network.disconnected {
  background-color: #eb4d4b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #4e5263;
  color: #ffffff;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
